/* navbar */
.nav-bg {
	background-color: #fbfbf9;
}
/* top banner */
.top-banner {
	background-color: #fbfbf9;
	height: 700px;
}
.h-700 {
	height: 700px;
}

/* footer */
.footer-bg {
	background-image: url(./img/wave.svg);
	width: 100%;
	background-size: cover;
	height: 300px;
	background-repeat: no-repeat;
}
.h-300 {
	height: 300px;
}
/* review */
.icon-width {
	width: 80px !important;
	height: 80px !important;
}
